#pic {
    height: 35vw;
    padding: 0px 0 0px 0;
}
.nav-item {
    font-family: Arial Black, sans-serif ;
	font-weight: 700;
	font-size: 25px;
	font-style: initial;
}
body {
	background: linear-gradient(-45deg, #1cb1f7, #1b90fd, #98e2fa, #31f041);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container-fluid {
	padding: 1vw;
	size: 100vw;
}
h2 {
	margin: 0;
	padding: 20px 0 20px 0;
	font-size: 220%;
	letter-spacing: 3px;
	color: green;
}
blockquote {
	padding: 15px;
	font-weight : bold;
	font-style : italic;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-top: 1px solid rgb(0, 0, 0);
	color : #835900;
	font-size: 18px;
}
.button1 {
    background-color: white;
    border: 0px solid royalblue;
	border-radius: 10%;
	font-size: 25px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin: 10px;
}
.button1:hover {
    background-color: royalblue;
    color: white;
}
.button2 {
	font-size: 15px;
	background-color: white;
	border: 2px solid royalblue;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3 { 
	margin-left: 15vw;
}
